.THIS.mystles{		
		 background-color : #ebadd6;
	}
.THIS div.lookupComp{
    position: absolute;
    z-index:0;
}

.THIS div.lookupComp1{
    z-index:1;
}

.THIS .inputFeild input { 
    text-align: center;
}
.THIS .removeIcon {
    color: #FFFFFF;
}
.THIS .removeIconBg {
    background-color: #F2463B;
}
.THIS .editIconBg {
    background-color: #62b7ed;
}


.THIS .slds-leftpad{
	padding-left: 2rem;
}
.THIS .iconheight{
    top: 65%;
}

.THIS .leftspace input {
    padding-left:2rem;
}